.car {
    width: 200px;
    height: 95px;
    background-color: red;
    position: absolute;
    top: 80%;
    left: 0;
    animation: drive 5s infinite; 
  }
   .glass {
    width: 50px;
    height: 40px;
    background-color: rgb(107, 196, 201);
    position: absolute;
    top: 10px;
    left: 135px;
  }
  .kapot {
    width: 140px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 40px;
    left: 100px;
  }
.krest1 {
    width: 15px;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 50px;
}
.krest2 {
  width: 60px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 33px;
  left: 28px;
}
  .wheel {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
     top: 80px;
  }
  .wheel2{
    width: 60px;
    height: 60px;
    background-color: rgb(19, 19, 19);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    top: 80px;
    margin-left: 150px;
  }
  body {
    margin: auto;
    background-color: rgb(51, 59, 53);
  }
  .sky {
    width: 100%;
    height: 400px;
    background-color: aqua;
  }
  .grass {
    width: 100%;
    height: 200px;
    background-color:rgb(41, 204, 120);
  }

  @keyframes drive {
    0% {
      left: 0;
    }
    70% {
      left: 70%;
    }
  }